@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #41424b;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #767676; /* Add your desired background color */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  margin: 0;
  font-size: 1.45em;
  order: 1; /* Move the logo to the top in the flex layout */
}

.main-nav {
  margin-top: 5px;
  order: 2; /* Move the links below the logo in the flex layout */
  text-align: center; /* Center-align the links */
}

.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  display: block;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: orange;
}

@media (max-width: 768px) {
  header {
    flex-direction: column; /* Stack items vertically */
    text-align: center; /* Center-align items */
  }

  .main-nav {
    margin-top: 20px; /* Add space between logo and links */
  }
}

@media (min-width: 768px) {
	header {
	  flex-direction: row;
	  justify-content: space-between;
	}
  
	.main-nav {
	  margin-top: 0; /* Reset margin between logo and links */
	  display: flex; /* Display the links in a horizontal line */
	}
  
	.main-nav li {
	  margin-right: 20px; /* Adjust spacing between links */
	}
  
	.main-nav a {
	  padding: 10px 15px; /* Adjust padding for wide screens */
	  font-size: 0.99em; /* Reset font size to the original value */
	}
  
	/* Add any additional styles for wide screens here */
  }

.navlogo {
  justify-self: center;
  vertical-align: middle;
  width: 7%;
  min-width: 30px;
  min-height: 30px;
  height: 7%;
  cursor: pointer;
}

button {
  padding: 9px 25px;
  background-color: rgb(235, 141, 0);
  border-radius: 50px;
  border-style: solid;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(255, 153, 0, 0.8);
}
