body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.content {
    display: flex;
}

h1 {
    text-align: center;
    font-weight: 700;
    color: darkslategrey;
}

.netID {
    text-align: center;
    background-color: yellow;
}


.important_day {
    color: #e0f6ef;
    background-color: #6ab099;
}

.container {
    border : 2px solid black;
    margin: auto;
    width: 40%;
    height: 900px;
    text-align: center;   
    vertical-align: middle;
}

.interests {
    margin: auto;
    width: 300px;
    height: 300px;
    border: 2px black solid;
}

.slidecontainer {
    margin-top: 20px;
}