.proj_links {
    transition: all 0.3s ease 0s;
    color: blueviolet;
    background-color: blanchedalmond;
    
}

.proj_links:hover {
    color: orange;
}
.link_background {
    background-color: blanchedalmond;
}

body {
    font-family: Arial, sans-serif;
}

.progress-list {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.in-progress, .complete {
    flex-basis: 48%;
    background-color: blanchedalmond;
    border-radius: 30px;
    padding: 10px;
}

h2 {
    font-size: 18px;
    color: blueviolet;
    background-color: blanchedalmond;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

ul li a {
    text-decoration: none;
}

.complete {
    text-align: center;
}

.in-progress {
    text-align: center;
}
