.container {
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    color: #C2C4C3;
    margin-top: 3%;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.map {
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: 40%;
    background-color: #1E3B29;
    border-radius: 10px;
}

.image-2 {
    display: inherit;
    justify-content: center;
    width: 45%;
}

.image-1 {
    display: inherit;
    justify-content: center;
    width: 100%;
}


.big {
    width: 90%;
}

.small {
    width: 80%;
}

h2 {
    font-size: 150%;
}