@media screen and (max-width: 768px) {
    .container {
      width: 100%;
    }
  }

.container {
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    color: #C2C4C3;
    margin-top: 4%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3%;
}
.map {
    position: relative;
    top: 100vh;
    animation: slideUp 1.5s ease-in-out forwards;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: 40%;
    background-color: #1E3B29;
    border-radius: 10px;
    
}

.image-2 {
    display: inherit;
    justify-content: center;
    width: 45%;
}

.image-1 {
    display: inherit;
    justify-content: center;
    width: 100%;
}


.big {
    width: 90%;
}

.small {
    width: 80%;
}

.name {
    font-size: 150%;
}

.empathize-div {
    position: relative;
    top: 100vh;
    animation: slideUp 1s ease-in-out forwards;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
}

.creators {
    position: relative;
    top: 100vh;
    animation: slideUp 1.3s ease-in-out forwards;
    margin-bottom: 100px;
}

.creator-names {
    font-size: 10pt;
    color: #777777;;
}

h1 {
    text-align: center;
    font-size: 32pt;
    width: 100%;
    
}

@keyframes slideUp {
    0% {
      top: 100vh; /* Start position: below the viewport */
    }
    100% {
      top: 0; /* End position: at the top of the viewport */
    }
  }

.conclusion-head {
    margin-bottom: 20px;
    font-size: 22pt;
}

.conclusion {
    box-sizing: border-box;
    width: 70%;
    margin: 30px;  
}

span {
    width: 100%;
}

.survey-container {
    margin-left: auto;
    margin-right: auto;
}

.survey {
    list-style: inside;
    margin-bottom: 15px;
    font-size: 10pt;
}