.container {
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    color: #C2C4C3;
    margin-top: 4%;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.map {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: 40%;
    background-color: #1E3B29;
    border-radius: 10px;
}

.image-2 {
    display: inherit;
    justify-content: center;
    width: 45%;
}

.image-1 {
    display: inherit;
    justify-content: center;
    width: 100%;
}


.big {
    width: 90%;
}

.small {
    width: 80%;
}

.name {
    font-size: 150%;
}

h1 {
    margin-bottom: 70px;
    text-align: center;
    font-size: 32pt;
    width: 100%;
}

.conclusion-head {
    margin-bottom: 20px;
    font-size: 22pt;
}

.conclusion {
    box-sizing: border-box;
    width: 70%;
    margin: 30px;  
}

span {
    width: 100%;
}

.survey-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.survey {
    list-style: circle;
    margin-bottom: 15px;
}