.Random-City {
  position: relative;
  transition: all 0.3s ease 0s;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 70%;
  height: 70%;
  opacity: 80%;
  border-radius: 3px;
  min-height: 300px;
  border-style: solid;
  border-color: aliceblue;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Random-City:hover {
  opacity: .7;
}

.TheOrag {
  position: absolute;
  transition: all 0.3s ease 0s;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 70%;
  height: 96%;
  opacity: 80%;
  border-radius: 3px;
  min-height: 300px;
  opacity: 0;
}
.TheOrag:hover {
  opacity: .1;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.image-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 100vh; /* Initially, place the image below the viewport */
  animation: slideUp 1.7s ease-in-out forwards; /* Apply the animation */
}

@keyframes slideUp {
  0% {
    top: 100vh; /* Start position: below the viewport */
  }
  100% {
    top: 0; /* End position: at the top of the viewport */
  }
}
